*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

// .container {
//   min-width: 320px;
//   margin: 0 auto;
//   padding: 0 20px;
// }
