$dark-color-1: #111111;
$grey-color-1: #f2f2f2;
$grey-color-2: #444444;
$grey-color-3: #d9d9d9;
$white-color: #ffffff;
$border-color-1: #e6e6e6;
$green-color-1: #68b738;
$green-color-2: #65A93C;
$green-color-3: #5eaa2f;


$ease-main: 0.3s ease;

$breakpoints: ('desktop': 1440px,
  'tablet': 768px,
  'phone': 320px);
